body {
  padding: 1em;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 21pt;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

body > .column {
  margin: 0 1rem;
  flex: 0 0;
  min-width: fit-content;
}

body > .column > header {
  font-size: 175%;
  margin-bottom: 0.5em;
}

body > .column > .section {
  margin-bottom: 1.5em;
}

body > .column > .section > header {
  font-size: 125%;
  margin-bottom: 0.5em;
  display: flex;
  flex-flow: row nowrap;
}

body > .column > .section > .item {
  margin-bottom: 0.5rem;
}

.item,
header {
  display: flex;
  flex-flow: row nowrap;
}

.item > span {
  white-space: pre-line;
}

i {
  margin-right: 0.25em;
}

a,
a:active,
a:visited {
  color: #35a;
  text-decoration: none;
}
